*,
*::before,
::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    width: 100vw;
    max-width: 100%;
}

.Toastify__progress-bar{
  background-color: black !important;
}

.Toastify__progress-bar--animated 
{
  background-color: black !important;
}
.Toastify__toast{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px !important;
}
